.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
.card1{
    width: 700px;
}
.inputnote{
    padding: 0;
width: 500px;
margin-left: 7px;
}
.textin{
    height:43px;
    width: 500px;
    border:none;   
}
.textin:focus{
    outline: none;
}
.inputnote2{
    padding: 0;
width: 600px;
margin-left: 7px; 

}
.text1{
    height:43px;
    width: 600px;
    border:none;
    margin-left: -15px  
}
.text1:focus{
    outline: none;
}








