.example-toolbar{
    background-color: white;
    border-bottom: 0.5px solid whitesmoke;
}
.togglemenu{
    
    opacity: 60%;  
    border-radius: 50%;
    margin-left: 12px;
    padding: 0;
    width: 50px;
}

.header{
    font-family:cursive;
    font-style: bold;    
    margin-top:5%;
    text-align: center;
    font-weight: 600;
    margin-left: 15px;
    font-size: larger;
 }
 .boxContainer{
     margin:auto;
     width: 500px;
     height: 45px;
     border-radius: 10px;
     border:none;
     background-color:rgb(250, 250, 250);
     margin-top: 5px;
     margin-bottom: 8px;
 }
 .boxContainer:focus{
    outline: none;
    background-color:white;
}

.search{
    border: none;
    
    height:43px ;
    border-radius: 10px;
    background-color:rgb(250, 250, 250);
}
.search:focus{
    outline: none;
    background-color:white;
}
 .searchimg{
     border-radius: 20px;
     width: 25px;
 }
.refresh{
    display:block;
    height: 30px;
    width: 30px;   
    opacity: 60%;
}
.view{
    display:block;
    height: 30px;
    width: 30px;   
    opacity: 60%;
}
.settings{
    display:block;
    height: 30px;
    width: 30px;   
    opacity: 60%;
    text-align: center;
}
.link{
    width: 250px;
    height: 50px;  
    opacity: 60%;
    
}
.icons{
    height: 48px;
    opacity: 60%;  
    border-radius: 50%;
    margin-left: 12px;
    padding: 0;
    width: 50px;
    background-color: white;
    box-shadow: none;
}
.icons:hover{
    box-shadow:inset;
    background-color:whitesmoke; 
}
.iconbar{
   padding-top: 8px;
   padding-left: 10px;
}
  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container{
    flex: 1;
    //width:1280px;
    //height: 600px;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  .dnotes{
      margin-top: 50px;
  }
  .content{
    background-color: white;
    width: 100vw;
}




