<div class="content" >
    <div style="margin-top: 100px; margin-left: 80px;">
    <div fxLayout="row wrap" fxFlex="100%" fxLayoutGap="20px grid" fxLayout.xs="column" fxFlex.xs="95%" >
      
        <div *ngFor='let note of allnotes | searchFilter:searchWord' >
            <mat-card [style.background]="note.color" class="card">
            <div (click)="openDialog(note)">
                <div>
                    <strong>{{note.title}}</strong>
                </div>
                    <div style="margin-bottom: 30px;">{{note.description}}</div>
            </div>
                <div>
                    <app-icons (changeColorOfNote)="palette($event)" (trashNoteToRefresh)="trash($event)" (archiveNoteToRefresh)="archiverefresh($event)" class="icons" [iconnote]="note"></app-icons>
                </div>
            
            </mat-card>

        </div>
        
    </div>
</div>
</div>





<!-- <div class="top" *ngFor="let note of allnotes" fxLayout="start" fxFlex="25%">
    <mat-card fxFlexFill fxLayout="column">
        <div>
            <strong>{{note.title}}</strong>
        </div>
        <div>{{note.description}}</div>
        <div>
            <app-icons class="icons"></app-icons>
        </div>
    </mat-card>
</div> -->



