// .login{
//     height: 450px;
//     width: 400px;
//     margin-left: 400px;
//     margin-top: 30px;
//     border-style:solid;
//     border-color: rgb(218, 217, 217);
//     border-radius: 10px;
//     border-width:1.5px;
//  }
 .header{
    font-family:cursive;
    font-style: bold;    
    margin-top:5%;
    text-align: center;
    font-weight: 600;
 }
 .SubHeader{  
    font-style:normal;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size:x-large;
 }
 .txtfield{
     text-align: center;
 }
 .full-width{
   width: 250px;  
 }
 .full-width1{
    width: 250px;  
  }
 ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 350px;
}
.Forgot{
    color: #1a73e8;
    font-weight: 500;
}
.checkbox1{
    margin-top: 10px;
}
.link{
    color: blue;
}
 .signin{
    margin-top: 30px;
    margin-left:40px;
    height:35px;
    width: 80px;
    color:aliceblue;
    background-color:#1a73e8;
}