<div fxflex="100" fxLayout="row" fxLayoutAlign="center center" fxFlexFill  fxLayout.xs="column" fxLayoutAlign.xs="start stretch" >
  <mat-card fxFlex.xs="Fill">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill  fxLayout.xs="column" fxLayoutAlign.xs="start stretch" >
     <div> 
      <div>
        <h1 class="header" >
          <span style='color: blue;'>F</span>
          <span style='color:red;'>u</span>
          <span style='color:yellow'>n</span>
          <span style='color:blue;'>d</span>
          <span style='color:green;'>o</span>
          <span style='color:red;'>o</span>
        </h1>
        <p class="SubHeader">Create your Account</p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="signup()">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field class="full-width-name" appearance="outline">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName" placeholder="">
          <mat-error>Invalid Name</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-name" appearance="outline">
          <mat-label>Last name</mat-label>         
          <input matInput formControlName="lastName" placeholder="">
          <mat-error>Invalid Name</mat-error>
        </mat-form-field>
      </div>
        
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="full-width-email" appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input matInput formControlName="email" placeholder="Email">
          <mat-hint align="start">You can use letters, numbers & periods </mat-hint>
          <mat-error>Invalid Email</mat-error>
        </mat-form-field>     
      </div>
          
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field  class="full-width-password" appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password" placeholder="" type="password" > 
          <mat-hint align="start">Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint> 
          <mat-error>Invalid Password</mat-error>          
        </mat-form-field>
        <mat-form-field class="full-width-password" appearance="outline">
          <mat-label>Confirm</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="cpassword" placeholder=" " type="password">    
          <mat-error>Invalid Password</mat-error>      
        </mat-form-field>
      </div>
          <div>
            <mat-checkbox  matSuffix (click)="checkboxPassword()" class="checkbox1">Show Password</mat-checkbox>
          </div>
          <div class="buttons1">
            <a class="link" routerLink='/login' mat-button href="">Sign in instead</a>
           <button class="next" mat-raised-button color="Primary">Next</button>
          </div> 
        </form>
      </div>
        <div class="image" fxHide.xs="true">
          <img src="https://ssl.gstatic.com/accounts/signup/glif/account.svg"  >
          <p>One account. All of Fundoo Notes working for you.</p>
      </div>
      </div>
      </mat-card>           
</div>

    
